*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $fontColor;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul { 
    list-style-type: none; 
}

.title{
    font-size: 4rem;
    margin-bottom: 10%;
}