// Button Colors
$buttonBackground: #1a1b1de0;
$buttonBackgroundHover: #000000;
$buttonBorder: #9e7935;

// General Colors
$generalBackground: #041525;
$generalBackgroundHover: #1c344a;
$checkboxBackground: #cbd1d8;

//Text Colors:
$fontColor: #cdbe91;
$white: #ffffff;

// Header Colors
$headerBackground: transparent;

// @font-face{
//     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// }