@import '../../helpers/variables';
@import '../../helpers/helpers';
@import '../../helpers/margins';

.welcome_container{
    .welcome_title_container{
        padding: 3%;
        background-color: $whiteTransparancy;
    }
}

@media screen and (max-width: 640px) {
    .welcome_title_container{
        p{
            margin-bottom: 7%;
        }
    }
}