@import '../helpers/variables';
@import '../helpers/helpers';
@import './container';

.theme_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    .theme_item{
        padding: 3% 3%;
        width: 15%;
        transition: 0.25s linear;
    }

    .theme_item:hover{
        transition: 0.25s linear;
        width: 15%;
        background-color: $generalBackgroundHover;
        cursor: pointer;
    }

    img{
        width: 100%;
    }
}

.btn_quizz{
    margin: 3% 0;
}